$white: #ffffff;
$black: #000000;
$text-color: #15151E;
$text-color-2: #242424;
$primary: #1d4ed8;
$input-background-color: #F2F2F2;
$border-color: #D6D6D6;
$prefilled: #E5E5E5;
$red: #E74C3C;
$orange: #FFCE36;
