@import "normalize";
@import "reset";
@import "media";
@import "mixins";
@import "variables";
@import "fonts";
@import "toastify";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  &.no-scroll {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
}

button {
  transition: 0.1s all ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(29 78 216);
  font-family: inherit;
  font-weight: 500;
}

p {
  font-family: Titillium Web, sans-serif;
  font-weight: normal;
  font-size: 1rem; /* 18px */
  line-height: 1.5rem; /* 28px */
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.1s;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
